<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<button type="submit"><a href="/bookRepository">Show all books</a></button>

<form>
    <input type="text" name="bookId" placeholder="Enter id" class="form-control" id="bookId">
    <button type="submit" formaction="specificBook">Search</button>
</form>
<hr>
<form method="POST">
    <input type="text" name="book" placeholder="Enter name of book" id = "bookName" class="form-control">
    <input type="text" name="author" placeholder="Enter author" id = "author" class="form-control">
    <input type="text" name="info" placeholder="Enter info" id = "info" class="form-control">
    <input type="date" name="year" placeholder="Enter year of publishing" id = "dateOfPublishing" class="form-control">
    <button type="submit" formaction = "addBook" class = "btn bth-success">Add</button>
</form>
<hr>
<form method="POST">
    <input type="text" name="id" placeholder="Enter id" class="form-control" id="id">
    <button type="submit" formaction="deleteBook">Delete</button>
</form>
</body>
</html>